
.search{
	position: absolute;
    background-color: #003459;
    width: 89.5%;
    height: 150px;
text-align: justify;
    padding: 4px;
    content: "";
    display: table;
	clear: both;	
	border-radius: 8px;
	top:350px;
	left: 72px;



  
}

.div{
	position: relative;
	background-color: white;
	width: 250px;
	border-radius: 8px;
	height: 50px;
	top: 50px;
	left: 40px;
	margin-right: 25px;
	
}
.dive{
	position: relative;
	background-color: white;
	width: 400px;
	border-radius: 8px;
	height: 50px;
	top: 50px;
	left: 40px;
	margin-right: 25px;
}

.float{
	display: flex;
	float: left;
	
}
#www{
	position: relative;
    background-color: white;
	width: 20%;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #f1f2f6;
    margin-top: 70px;
    caret-color: #a1a9c3;
    color: white;

	text-align: justify;
}

#validation{
	background-color:red;
	width: 15%;
	height: 44px;
	margin-left: 0px;
	border-radius: 5px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	padding: 0px;
    font-weight: bold;
    top:12px;
    float: right;
	right: 82px;
	color: white;
}
.recherche{
	position: absolute;
	display: inline-flex;
	/*background-color: black;		*/
	width: 500px;
	color: white;
	margin:0px;
	padding: 0px;
	height: 40px;
	left: 42px;
	top: 5px;
	text-align: center;
	bottom: 70px;
	font-size: 30px;


}