

<div class="container" id="mainContainer">
    <div class="section">
  
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons" style="font-size: 25px;">search</i></h2>
            <h5 class="center" style="color:  #003459;">Rechercher un trajet</h5>
  
            <p class="light" style="font-family: Arial, Helvetica, sans-serif;">Choisissez la destination et les dates de votre prochain voyage. 
        Veuillez également indiquer si vous souhaitez un vol aller simple ou aller-retour
         ainsi que le nombre de voyageurs.</p>
          </div>
        </div>
  
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons" style="font-size: 25px;">touch_app</i></h2>
            <h5 class="center" style="color:  #003459;">Consulter les résultats</h5>
  
            <p class="light" style="font-family: Arial, Helvetica, sans-serif;">Notre comparateur de trajet obtient les prix des billets 
        d'avion de centaines de sites web et vous montre les moins chers.
         Si vous voulez vous pouvez filtrer les résultats selon plusieurs critères 
         pour choisir celui qui vous convient le mieux.</p>
          </div>
        </div>
  
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons" style="font-size: 25px;">send
      </i></h2>
            <h5 class="center" style="color:  #003459;">Trajet</h5>
  
            <p class="light" style="font-family: Arial, Helvetica, sans-serif;">Lorsque vous choisissez un trajet, vous serez redirigé
         vers le site web où vous retrouverez votre offre de voyage. 
         De cette façon, vous pourrez réserver votre trajet au meilleur prix.</p>
          </div>
        </div>
      </div>
  
    </div>
    <h1 class="title" style="font-size: 30px; color:#003459; text-align:center; font-weight:bolder;">
      Bus, taxis et vols: tout en une seule recherche
    </h1>
    <h6 style="color: #003459; font-weight:bold; margin-top:25px; margin-bottom:25px;"> À propos de nous</h6>   
  <p>
  Nous simplifions le processus de planification de voyage afin que vous puissiez 
  gagner du temps et de l'argent! Vérifiez toutes vos options 
  et utilisez nos filtres avancés pour répondre à vos besoins personnels. 
  Que vous planifiez une visite des capitales européennes, un voyage d'été en Italie ou même prolonger votre long week 
  - end à New York pour inclure un voyage rapide à Boston, nous avons ce qu'il vous faut!
  
  </p>
  <h6 style="color: #003459; font-weight:bold; margin-top:25px; margin-bottom:25px;">
  Réservez votre prochain voyage avec AfricaTravel
  </h6>
  <div class="liste">
  <ol>
    <li>Entrez vos destinations de départ et d'arrivée et les dates de voyage</li>
    <li>Comparez les différents itinéraires de train, de bus et de vol disponibles entre les deux destinations
       <br> (n'hésitez pas à filtrer pour les moins chers, les plus rapides, les recommandés)</li>
    <li>Choisissez le meilleur itinéraire pour vous et réservez vos billets sur notre site Web</li>
    <li>Soit imprimez votre billet, soit téléchargez votre billet mobile</li>
    <li>Fais bon voyage!</li>
  
  </ol>
  </div>
  <h6 style="color: #003459; font-weight:bold; margin-top:25px; margin-bottom:25px;">
    Pourquoi nous?
  </h6>
  <div class="liste2">
  <ul>
  <li>Nous avons élaboré tous les éléments compliqués pour que vous n'ayez 
    pas à le faire! Au lieu de cela, vous avez plus de temps pour planifier 
    la partie amusante de votre voyage!</li>
    <li>Notre technologie passe au crible toutes
       les données pour vous trouver les meilleures options 
       - en quelques secondes seulement - pour vos besoins.</li>
       <li>Vous pouvez compter sur nous. Nous offrons un service client
          dans 12 langues différentes et notre équipe se 
         fera un plaisir de vous aider en cas de problème. Passez moins de temps 
         à planifier vos voyages et plus de temps à les vivre.</li>
  </ul>
  </div>
  <h6 style="color: #003459; font-weight:bold; margin-top:25px; margin-bottom:25px;">
    Nos partenaires
  </h6>
  <div>
    Avec plus de 800 partenaires de transport de confiance,
     y compris les poids lourds de l'industrie Amtrak , Deutsche Bahn , SNCF, Trenitalia ,
      Renfe , Via Rail Canada , Alsa , Eurolines , RedCoach ,
      EasyJet et JetBlue , notre moteur de recherche peut vous conduire 
      là où vous devez aller. Une nouvelle étape
     passionnante de notre voyage est le lancement de ferries dans toute
      l'Europe, avec de nombreux itinéraires et pays à ajouter.
  </div>
  <h6 style="color: #003459;margin-top:25px; margin-bottom:100px; font-weight:bolder;">
  Où voulez-vous voyager ensuite? 
  </h6>
  
  </div>