
<div class="onglet">
    <mat-tab-group dynamicHeight>
        <mat-tab>
          <ng-template mat-tab-label>
         <!--<mat-icon class="example-tab-icon" style="position: absolute; left: 10px;">thumb_up</mat-icon>--> 
        <!-- <mat-icon fontSet="fontawesome" fontIcon="fa-facebook"></mat-icon> -->
        <mat-icon class="example-tab-icon">thumb_up</mat-icon>
            Vols
          </ng-template>
          <app-select></app-select>
            <app-list></app-list>
            <app-list></app-list>
            <app-list></app-list>
            <app-list></app-list>
            <app-list></app-list>
          
        </mat-tab>
      
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">thumb_up</mat-icon>
            Autobus
          </ng-template>
          <app-list></app-list>
        </mat-tab>
      
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">thumb_up</mat-icon>
            Taxis
          </ng-template>
      
          <app-list></app-list>
        </mat-tab>
      </mat-tab-group>
      
</div>
