<form>
  <div class="form-row">
    <div class="col">
      <mat-form-field appearance="outline" style="position: relative; ">
        <mat-label>Prénom</mat-label>
        <input matInput placeholder="prénom" style="position: relative; max-height: 15px; top: 5px;">
     
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field appearance="outline"  style="position: relative;">
        <mat-label>Nom</mat-label>
        <input matInput placeholder="nom" style="position: relative; max-height: 15px;top: 5px;">
     
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline" style="position: relative; width: 92%;">
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="pat@example.com" style="max-height: 15px;">
     
    </mat-form-field>


    <div class="row">
      <mat-form-field appearance="outline" class="col">
        <mat-label>Pays*</mat-label>
        <mat-select>
          <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="col">
        <mat-label> Téléphone </mat-label>
        <input matInput style="max-height: 15px;">
      </mat-form-field>
      
    </div>
    <div class="row">
      <mat-form-field appearance="outline"  class="col">
        <mat-label>Mot de passe</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'"  style="position: relative; max-height: 15px; top: 5px;">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
            
      </mat-form-field>
  
     
      <mat-form-field appearance="outline" class="col">
        <mat-label>Mot de passe confirmé </mat-label>
        <input matInput [type]="hide ? 'password' : 'text'"  style="position: relative; max-height: 15px; top: 5px;">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
            
      </mat-form-field>
  
    </div>
    
    <button class="but">S'inscrire</button>
  </div>
</form>