<div class="signup">
    <h2 mat-dialog-title style=" position: relative; color:black; left:160px;">S'inscrire</h2>


    <div class="identite">
        <p style="margin-right: 15px;">
            <mat-form-field appearance="outline" style="position: relative; ">
              <mat-label>Prénom</mat-label>
              <input matInput placeholder="prénom" style="position: relative; max-height: 15px; top: 5px;">
           
            </mat-form-field>
        </p>
        
          <p>
            <mat-form-field appearance="outline"  style="position: relative;">
              <mat-label>Nom</mat-label>
              <input matInput placeholder="nom" style="position: relative; max-height: 15px;top: 5px;">
           
            </mat-form-field>
        </p>
    </div>
    
    <div style="font-size: 10px;">
        <mat-form-field appearance="outline" style="position: relative; width: 405px; top: 20px;"> 
            <mat-label>Email</mat-label>
            <input matInput placeholder="email" style="position: relative; max-height: 15px; top:5px;">
         
          </mat-form-field>
      
    </div>
        
    
    <div class="identite">
        <p style="margin-right: 15px;">
            <mat-form-field appearance="outline" style="position: relative; top: 20px;">
              <mat-label>Pays</mat-label>
              <input matInput placeholder="Pays" style="position: relative; max-height: 15px; top: 5px;">
           
            </mat-form-field>
        </p>
        
          <p>
            <mat-form-field appearance="outline" style="position: relative; top: 20px;">
              <mat-label>Téléphone</mat-label>
              <input matInput style="position: relative; max-height: 15px; top: 5px;">
           
            </mat-form-field>
        </p>
    </div>
    
    
    <div style="font-size: 10px;">
        <mat-form-field appearance="outline" style="position: relative; width: 405px; top: 20px;">
            <mat-label>Mot de passe</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'"  style="position: relative; max-height: 15px; top: 5px;">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
                
          </mat-form-field>
      
      
    </div>
        
    
    <button class="but">S'inscrire</button>
    
    <p style="position: relative; text-align: center; top: 35px;">
        En cliquant sur S'inscrire, vous acceptez
        <br>
       <a href="">
        nos conditions d'utilisation
    
       </a>
    </p>
    
</div>
