<div class="liste">
    <div class="contenu">
        <h6 style="color:#003459; ">Pas cher et rapide</h6>
       
           <h6 style="color:#003459 ; position: relative; top: 20px; font-weight: bold;">
            BAOBAB
           </h6> 
        
            <h6 style="color: gray; position: relative; top: 20px; ">
                Trajet opéré par Baobab Express
            </h6>
            <div class="info">
                <div class="container">
                    <div class="row">
                      <div class="col-sm"  style="position: relative; float: right;color:#003459; font-weight: bold; ">
                        07h00
                      </div>
                      <div class="col-sm">
                      03h00
                      </div>
                      <div class="col-sm"  style="position: relative; float: right;color:#003459; font-weight: bold; ">
                        10h00
                      </div>
                      <div class="col-sm" style="position: relative; float: right;color:#003459; font-weight: bold; ">
                       2000 FCFA
                      </div>
                    </div>
                  </div>
            </div>
            <p style="position: relative; display: inline-block; width:50% ; top: 50px;">
                Étoile rouge (Cotonou)
            </p>
            <p style="position: relative; width:50% ; top: 50px; float: right;">
                Étoile rouge (Cotonou)
            </p>
            
    </div>
    </div>