.liste{
    position: relative;
    background-color: teal;
    width: 100%;
    height: 200px;
    top: 50px;
    background-color: #E6E9E6;
    margin-bottom: 20px;
    border-radius: 5px;
}

.contenu{
    position: relative;
   /* background-color: black;*/
    width: 93%;
    height: 230px;
    left: 30px;
    top: 10px;
}

.info{
    position: relative;
    /*background-color: black;*/
    top: 40px;
    width: 100%;
    left: 0px;
    height: 20px;
}