
<footer class="page-footer tea">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <ul>
            <li><a class="white-text" href="#!">À propos de nous</a></li>
            <li><a class="white-text" href="#!">Protection des données</a></li>
            <li><a class="white-text" href="#!">Paramètres de confidentialités</a></li>
          </ul>


        </div>
        <div class="col l3 s12">
          <ul>
            <li><a class="white-text" href="#!">Transport</a></li>
            <li><a class="white-text" href="#!">Trajet par ville</a></li>
            <li><a class="white-text" href="#!">Compagnies de transport</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
			  <h6 class="white-text" style="text-align: center; margin-left:45px;">Nos partenaires</h6>
			 <div class="sponsor">
				<img src="/assets/params/images/Banque-Mondiale.jpg" alt="" class="Banque">
				<img src="/assets/params/images/mtn.jpg" alt="" class="Mtn">
				<img src="/assets/params/images/moov.jpg" alt="" class="Moov">
			</div>
	    </div>
      </div>
    </div>
</footer>
